$mw-red: #F15742;
$mw-blue: #356F73;
$mw-beige-d: #B19D87;
$mw-beige-l: #d6c9bd;
$mw-grey: #3b424c;
$mw-black: #000000;

// MEDIA QUERIES

$mobile-xs: "(max-width: 360px)";
$mobile-s: "(max-width: 767px)";
$mobile: "(max-width: 1024px)";
$desktop-m: "(max-width: 1280px)";
// usage: @media #{$mobile} { ...styling... }

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	background-color: $mw-beige-l;
    display: flex;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $mw-grey;
    font-family: 'Montserrat Alternates', sans-serif;
	/*font-family: 'Montserrat', sans-serif;*/
}
[class^="icon-"], 
[class*=" icon-"] {
	font-size: 1.4em;
	margin-top: -.15em;
	margin-right: .25em;
	vertical-align: middle;
	display: inline-block;
}

a,
a:link
a:visited {
	color: $mw-red;
	text-decoration: none;
}
a:hover,
a:focus {
	border-bottom: 2px solid $mw-red;
	outline: none;
}
abbr {
	font-family: 'Montserrat', 'Montserrat Alternates', sans-serif;
	font-variant: small-caps;
}

h1 {
	font-size: 2em;
	font-size: 2rem;

	@media #{$mobile-xs} {
		font-size: 1.6em;
		font-size: 1.6rem;
	}
}

.btn {
	background-color: transparent;
	padding: .5em .75em;
	border-radius: .3em;
	border: 1px solid transparentize($mw-beige-d, .8);
	white-space: nowrap;
	

	&:hover,
	&:focus {
		border-color: $mw-blue;
		background-color: $mw-blue;
		color: $mw-beige-l;
		transition: .3s all linear;
		border-bottom-width: 1px;
	}
} //.btn

.logo {
	position: relative;
	width: 542px;
	max-width: 100%;
	padding: 2em 1em 1em;
	margin: 0 auto;
	transition: width .3s ease-in;

	#logo {
		fill: $mw-beige-d;
	}
	a,
	a:link,
	a:visited,
	a:hover,
	a:focus {
		border: none;
		outline: none;
		display: block;
	}

	@media #{$mobile-s} {
		width: 400px;
		padding-bottom: 1em;
	}
} //.logo
#malwerk-logo {
	width: 100%;
}

.lang-selector {
	font-family: 'Montserrat', 'Montserrat Alternates', sans-serif;
	font-variant: small-caps;
	position: absolute;
	right: 6px;
	top: 6px;
	z-index: 999;
	display: flex;

	&,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	a,
	a:link,
	a:visited {
		display: block;
	    width: 36px;
		height: 24px;
		line-height: 24px;
		text-align: center;
	}
	a:hover,
	a:focus {
		font-weight: bold;
	}

	.en:lang(en), 
	.nl:lang(nl) {
	    font-weight: bold;
	    color: $mw-grey;
	}
}

.hero {
	text-align: center;


}


.skills {
	padding: 0;
}
.skill {
	white-space: nowrap;
	display: flex;
	align-items: center;
	padding: .05em 1em;

	@media #{$mobile-s} {
		display: block;
		&:after { display: none; }
	}
	
	.name {
		display: block;
		text-align: center;
		width: 100%;
		padding-right: .3em;
		transition: all .3s ease-in;

		@media #{$mobile-s} {
			text-align: center;
			width: auto;
		}
	}
	.desc {
		display: block;
		font-size: .375em;
		font-weight: bold;
		font-style: italic;
		text-align: left;
		color: white;
		text-shadow: 0 0 1px $mw-beige-d;
		padding: 0 0 0 .3em;
		transition: all .3s ease-in;
		width: 50%;
		overflow: hidden;
		position: absolute;
		opacity: 1;
		left: 50%;

		@media #{$mobile-s} {
			text-align: center;
		}
	}

	@media #{$mobile-s} {
		display: block;
		&:after { display: none; }
	}

	&.nonsense { color: $mw-red!important; }
} //.skill

a.skill {
	transition: all .5s linear;

	&:link,
	&:visited {
		color: $mw-grey;
	}
	&:focus,
	&:hover {
		background-color: transparentize($mw-beige-d, .5);
		border-bottom: none;
	}
}


.contact-me {
	line-height: 3em;

	.btn {
		margin-right: .5em;

		@media #{$mobile-s} {
			display: block;
			border-bottom: none;
			border-right: none;
			border-left: none;
			border-radius: 0;
			margin-right: 0;

			&:last-child { border-bottom: 1px solid transparentize($mw-beige-d, .7); }
		}
	} //.btn

	.title {
		display: block;
	} //.title
}

.footer {
	padding: .2em .4em;
	margin-top: 3em;
}

.content {
	display: flex;
	width: 100vw;
	align-items: stretch;

	.nav {
		flex: initial;
		width: 100%; 
		order: 1;
		transition: all .3s ease-in;
	}
	.section {
		//background-color: transparentize($mw-beige-d, .8);
		background-image: radial-gradient(circle at 0% 50%, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 32%, rgba(255,255,255,0) 100%);
		background-position: -100%;
		width: 0;
		flex: initial;
		order: 2;
		overflow: hidden;
		transition: width .3s ease-in;
		&:target { 
			width: 100%;
			transition: width .3s ease-in;
		}
	}
	.section:target ~ .nav {
		width: 50%;
		.logo {
			width: 432px;
		}
		.skill {
			.name {
				width: 100%;
			}
			.desc {
				opacity: 0;
			}
		}
	}
}


// MONOKAI THEME 

$monokai-bg: #2e2e2e;
$monokai-comments: #797979;
$monokai-white: #d6d6d6;
$monokai-yellow: #e5b567;
$monokai-green: #b4d273;
$monokai-orange: #e87d3e;
$monokai-purple: #9e86c8;
$monokai-pink: #b05279;
$monokai-blue: #6c99bb;

body.monokai {
	background-color: $monokai-bg;
	color: $monokai-comments;

	a,
	a:link
	a:visited {
		color: $monokai-orange;
	}

	#malwerk-logo {
		#bg { fill: $monokai-comments; }
		#stripe-left { fill: $monokai-pink; }
		#stripe-right { fill: $monokai-green; }
	}
} //body.monokai

$wk-white: #fff;
$wk-blue: #007ac3;
$wk-dblue: #00619c;
$wk-green: #85bc20;
$wk-red: #e5202e;
$wk-lgrey: #f2f2f2;
$wk-dgrey: #757575;
$wk-black: #474747;

body.wk {
	background-color: $wk-white;
	color: $wk-dgrey;

	a,
	a:link
	a:visited {
		color: $wk-red;
	}
	.btn {
		background-color: $wk-green;
		color: $wk-white;
		border-color: $wk-green;

		&:hover,
		&:focus {
			border-color: $wk-red;
			background-color: $wk-red;
			color: $wk-white;
		}

	}

	#malwerk-logo {
		#bg { fill: $wk-blue; }
		#stripe-left { fill: $wk-dblue; }
		#stripe-right { fill: $wk-green; }
	}
} //body.wk


$zissou-altaccent: #F54B1A;
$zissou-accent:#01ABE9;
$zissou-bgaccent:#E5C39E;
$zissou-bg:#C3CED0;
$zissou-text:#1B346C;
$zissou-black:#000000;

body.zissou {
	background-color: $zissou-bg;
	color: $zissou-text;

	a,
	a:link
	a:visited {
		color: $zissou-altaccent;
	}
	a:hover,
	a:focus {
		border-bottom-color: $zissou-altaccent;
	}
	.btn {
		background-color: transparent;
		border-color: transparentize($zissou-bgaccent, .8);
		&:hover,
		&:focus {
			border-color: $zissou-accent;
			background-color: $zissou-accent;
			color: $zissou-bg;
		}
	}
	.logo {

		#logo {
			fill: $zissou-accent;
		}

	}
	.lang-selector {
		.en:lang(en), 
		.nl:lang(nl) {
		    color: $zissou-text;
		}
	}
	.skill {
		.desc {
			text-shadow: 0 0 1px $zissou-bgaccent;
		}
		&.nonsense { color: $zissou-altaccent!important; }
	}
	a.skill {

		&:link,
		&:visited {
			color: $zissou-text;
		}
		&:focus,
		&:hover {
			background-color: transparentize($zissou-bgaccent, .5);
		}
	}
	.contact-me {
		.btn {
			@media #{$mobile-s} {
				&:last-child { border-bottom-color: transparentize($zissou-bgaccent, .7); }
			}
		} //.btn
	}
} //body.zissou


$train-altaccent: #C7B19C;
$train-accent:#FDD262;
$train-bgaccent:#C7B19C;
$train-bg:#446455;
$train-text:#C7B19C;
$train-black:#000000;

body.train {
	background-color: $train-bg;
	color: $train-text;

	a,
	a:link
	a:visited {
		color: $train-altaccent;
	}
	a:hover,
	a:focus {
		border-bottom-color: $train-altaccent;
	}
	.btn {
		background-color: transparent;
		border-color: transparentize($train-bgaccent, .8);
		&:hover,
		&:focus {
			border-color: $train-accent;
			background-color: $train-accent;
			color: $train-bg;
		}
	}
	.logo {

		#logo {
			fill: $train-accent;
		}

	}
	.lang-selector {
		.en:lang(en), 
		.nl:lang(nl) {
		    color: $train-text;
		}
	}
	.skill {
		.desc {
			text-shadow: 0 0 1px $train-bgaccent;
		}
		&.nonsense { color: $train-altaccent!important; }
	}
	a.skill {

		&:link,
		&:visited {
			color: $train-text;
		}
		&:focus,
		&:hover {
			background-color: transparentize($train-bgaccent, .5);
		}
	}
	.contact-me {
		.btn {
			@media #{$mobile-s} {
				&:last-child { border-bottom-color: transparentize($train-bgaccent, .7); }
			}
		} //.btn
	}
} //border: .train;