$mw-red: #F15742;
$mw-blue: #356F73;
$mw-beige-d: #B19D87;
$mw-beige-l: #d6c9bd;
$mw-grey: #3b424c;
$mw-black: #000000;

// MEDIA QUERIES

$mobile-xs: "(max-width: 360px)";
$mobile-s: "(max-width: 767px)";
$mobile: "(max-width: 1024px)";
$desktop-m: "(max-width: 1280px)";
// usage: @media #{$mobile} { ...styling... }

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	background-color: $mw-beige-l;
    display: flex;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $mw-grey;
    font-family: 'Montserrat Alternates', sans-serif;
	/*font-family: 'Montserrat', sans-serif;*/
}
[class^="icon-"], 
[class*=" icon-"] {
	font-size: 1.4em;
	margin-top: -.15em;
	margin-right: .25em;
	vertical-align: middle;
	display: inline-block;
}

a,
a:link
a:visited {
	color: $mw-red;
	text-decoration: none;
}
abbr {
	font-variant: small-caps;
}

h1 {
	font-size: 2em;
	font-size: 2rem;

	@media #{$mobile-xs} {
		font-size: 1.6em;
		font-size: 1.6rem;
	}
}

.btn {
	background-color: transparent;
	padding: .5em .75em;
	border-radius: .3em;
	border: 1px solid transparentize($mw-beige-d, .5);
	white-space: nowrap;
	

	&:hover,
	&:focus {
		border-color: $mw-blue;
		background-color: $mw-blue;
		color: $mw-beige-l;
		transition: .3s all linear;
	}
} //.btn

.logo {
	position: relative;
	width: 542px;
	max-width: 100%;
	padding: 2em 1em 6em;

	@media #{$mobile-s} {
		width: 400px;
		padding-bottom: 1em;
	}
} //.logo
#malwerk-logo {
	width: 100%;
}

.lang-selector {
	font-family: 'Montserrat', 'Montserrat Alternates', sans-serif;
	font-variant: small-caps;
	position: absolute;
	right: 6px;
	top: 6px;
	display: flex;

	&,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	a,
	a:link,
	a:visited {
		display: block;
	    width: 36px;
		height: 24px;
		line-height: 24px;
		text-align: center;
	}

	.en:lang(en), 
	.nl:lang(nl) {
	    font-weight: bold;
	}
}

.hero {
	text-align: center;
	width: 100%;

	h1 {
		padding: 0 1em;
	}
}
.skill {
	white-space: nowrap;
	// &:after {
	// 	content: "\2022";
	// 	display: inline-block;
	// 	margin: 0 0 0 .35em;
	// }
	// &:last-child:after {
	// 	display: none;
	// }

	@media #{$mobile-s} {
		display: block;

		&:after { display: none; }
	}
}
.skills .bullet {
	@media #{$mobile-s} { display: none; }
}

.contact-me {
	line-height: 3em;

	.btn {
		margin-right: .5em;

		@media #{$mobile-s} {
			display: block;
			border-bottom: none;
			border-right: none;
			border-left: none;
			border-radius: 0;
			margin-right: 0;

			&:last-child { border-bottom: 1px solid transparentize($mw-beige-d, .5); }
		}
	} //.btn

	.title {
		display: block;
	} //.title
}

.footer {
	padding: .2em .4em;
	margin-top: 3em;
}