{% assign t = site.data.translations[page.lang] %}
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>{{ page.title }}</title>
	<link href="/assets/css-compiled/site.compiled.css" rel="stylesheet">

	<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
	<link rel="manifest" href="/assets/img/favicons/site.webmanifest">
	<link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#01abe9">
	<link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,400i,700,700i|Montserrat:400,400i,700,700i" rel="stylesheet">
	<link href="/assets/fonts/malwerk-icons/style.css" rel="stylesheet">
	{% assign alternates=site.pages | where:"ref", page.ref | sort: 'lang' %}
	{% for alternate in alternates %}
		{% if alternate.lang != page.lang %}
			<link rel="alternate" hreflang="{{ alternate.lang }}" href="{{ alternate.url }}" />
		{% endif %}
	{% endfor %}
</head>
<body class="zissou">
	<ul class="lang-selector">
	{% assign translations=site.pages | where:"ref", page.ref | sort: 'lang' %}
	{% for translation in translations %}
	  <li>
	    <a href="{{ translation.url }}" class="{{ translation.lang }}">{{ translation.lang }}</a>
	  </li>
	{% endfor %}
	</ul>

{{ content }}

<div class="footer">
	<span>&copy; malwerk 2020</span> &bull;
	<span class="kvk">{{ t["kvk"] }}: 74149113</span>
</div>



</body>
</html>