---
title: Malwerk
ref: homepage
layout: default
---
{% assign t = site.data.translations[page.lang] %}


<div class="content">
	<div class="nav">
		<div class="logo">
			{% include logo-grad.html %}
		</div>
		<div class="hero">
			<h1 class="skills">
					{% assign num_of_adjectives = site.data.adjectives.size | plus: 1 %}
					<span class="adjectives-caroussel">
					<span class="adjectives size-{{ num_of_adjectives }}">
					{% for adjective in site.data.adjectives %}
						<span class="adjective">
							<span class="name">{{ adjective.name[page.lang] | downcase }}</span>
						</span>
					{% endfor %}
					{% comment %} repeat first item for fluid transition {% endcomment %}
						<span class="adjective">
							<span class="name">{{ site.data.adjectives[0].name[page.lang] | downcase }}</span>
						</span>
					</span>
				</span>
				{% for skill in site.data.skills %}
					<span class="skill {{ skill.cssclass }}">
						<span class="name">{{ skill.name[page.lang] | downcase }}</span>
					</span>
				{% endfor %}
			</h1>
			<p class="contact-me">
				<span class="title">{{ t["Contact me at"] }}:</span>
				<a class="btn telegram" href="https://t.me/malwerk"><span class="icon-telegram"></span>  telegram</a>
				<a class="btn whatsapp" href="https://wa.me/31613833927"><span class="icon-whatsapp"></span>  whatsapp</a>	
				<a class="btn phone" href="tel:+31613833927"><span class="icon-phone"></span> +31 6 13 833 927</a>
				{% raw %}
				<script>(function whatever(){var s='@',n='lets-talk',k='malwerk.nl',e=n+s+k,l='<a class="btn mail"  href=mailto:{{example@domain.com}}><span class="icon-email"></span>{{example@domain.com}}</a>'.replace(/{{.+?(}})/g,e);document.write(l)})()</script>
				{% endraw %}
			</p>
		</div>
	</div>
		
</div>

{% comment %}
<script>
    var lang = navigator.language || navigator.userLanguage;
    if (lang.indexOf('nl') == 0) window.location = '/nl/';
</script>
{% endcomment %}